.LandingSection {
  color: #434343;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em 1em;
}

.LandingSection div {
  order: 1;
}

.LandingSection h1 {
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 500;
}

.LandingSection h1 span {
  color: #A02279;
}

.LandingSection p {
  font-size: 24px;
  line-height: 35px;
  text-align: left;
}

.LandingSection div div {
  padding: 2em 0;
  width: 100%;
  display: flex;
  gap: 0;
}

.LandingSection div div input[type="text"] {
  width: 70%;
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #A3A3A3;
  background: rgba(247, 247, 247, 0.1);
  color: #b8b8b8;
  padding: 1em;
}

.LandingSection div div input[type="button"] {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  padding: 1em;
  width: 30%;
}

.NavContainer {
  padding: 1em;
  background-color: #A02279;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NavContainer svg {
  width: 25%;
}

@media screen and (min-width: 768px) {
  .LandingSection {
    color: #434343;
    display: grid;
    gap: 5em;
    grid-template-columns: auto auto;
    padding: 7em 10em;
  }
  
  .LandingSection div {
    order: 0;
    margin-top: 4em;
  }

  .LandingSection p {
    margin-top: 1em;
    padding-right: 5em;
  }

  .LandingSection div div {
    
  }

  .LandingSection div div input[type="text"] {
    width: 50%;
  }

  .LandingSection div div input[type="button"] {
    width: 20%;
  }

  .NavContainer svg {
    width:100%;
  }

}
