/* .ListDisplay {
  width: 100%;
  padding: 2em 1em;
}

.ListDisplay h1 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 1em;
}

.ListDisplay .ListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .ListDisplay h1 {
    font-size: 48px;
  }

  .ListDisplay .ListContainer {
    display: flex;
    flex-direction: row;
    gap: 3em;
  }
} */