.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  padding-bottom: 4em;
  width: 250px;
  height: auto;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  color: #434343;
}

.modal .header button {
  background-color: #fff;
  border: none;
}

.modal .header button:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
  border-bottom: 1px solid #CFD8DC;;
}

.header h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #333;
}

.Body {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Body p {
  width: 80%;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
}

.Body button {
  padding: 0.5em 1em;
  width: 80%;
  margin: auto;
  border: 1px solid #cfd8dc;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background: #f8f9fa;
}

.Body button img {
  width: 70%;
}

.Body button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 600px;
    height: auto;
  }

  .Body button img {
    width: auto;
  }
}