.Container {
  width: 292px;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  color: #434343;
}

.Container img {
  align-self: center;
}

.Container ul {
  width: 100%;
  font-size: 12px;
  line-height: 13px;
  padding: 1em 1.5em 0.75em;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 0.5em;
}

.Container ul li {
  width: auto;
}

.Container ul li:nth-child(2) {
  text-align: right;
}

.star {
  display: flex;
  gap: 0.75em;
  padding-left: 1.5em;
}
